:root {
  --primary-color: #ffc94a;
  --secondary-color: #c08b5c;
  --ternary-color: #795458;
  --quaternary-color: #453f78;
  --accent-color: #c08b5c;
  --light-color: #fafbfd;
  --bg-color: antiquewhite;
}
